@import "./variables";

.about-page-who {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  padding: 30px 100px;
  
}


.about-page-mission {
  width: 90%;
  padding: 30px 100px;
}

.about-heading {
  line-height: 1.6;
}

.about-underline {
  text-decoration: none;
  position: relative;
}

.about-underline:after {
  position: absolute;
  content: " ";
  z-index: -1;
  height: 9px;
  width: 300px;
  background-color: #B7E2DA;
  left: 0;
  bottom: 15px;
}

.about-page-who-text {
  display: inline-block;
  flex: 2;
}

.about-page-who-text {
  flex: 1;
}

.about-page-background {
  width: 100%;
  padding: 40px 100px;
  background-color: rgba(185, 211, 182, 0.36);
}

.row {
  padding-bottom: 5%;
}

.about-page-background-numbers {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.about-page-background-number {
  display: inline-block;
  max-width: 40%;

  &.left {
    align-self: flex-start;
    margin-right: 20%;
  }

  &.right {
    align-self: flex-end;
  }
}

.about-page-background-number-flex {
  display: flex;
  flex-flow: row;
}

.about-page-background-number-num {
  font-family: $font-stack;
  color: $gold;
  font-size: 140px;
  font-weight: 900;
}

.about-page-background-number-des {
  margin-top: 40px;
  margin-left: 20px;
}

.about-page-team {
  width: 100%;
  padding: 40px 100px;
  background-color: white;
  display: flex;
}

.about-fit {
  margin-left: 0;
  padding-top: 5%;
  padding-bottom: 10%;
  max-width: 100px;
}