@import "./variables";

// Typography
h1 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-family: $font-stack;
  color: $dark-blue;
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 28px;
  font-weight: 600;
}

p {
  font-family: $font-stack;
  color: $dark-gray;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

// Layouts

.page-container {
  padding: 50px;
}
