@import "./variables";

// Colors

$off-black: #4a4a4a;

// Typography

h1 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 48px;
  font-weight: 500;
}

// Layouts

.page-container {
  padding: 50px;
}
