.resource-index-page {
  padding: 50px;
}

$sidebar-width: 300px;
.resource-index-page-sidebar {
  position: fixed;
  width: $sidebar-width;
  top: 50px;
  left: 0px;
  padding-top: 20px;
}

.resource-index-page-main-container {
  margin-left: $sidebar-width;
}

.resource-index-page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resource-index-page-sort-query-container {
  display: flex;
  flex-direction: row;
}

.resource-index-page-searchbar {
  flex-grow: 1;
  margin-right: 40px;
}
