.resource-index-page {
  padding: 50px;
}

$sidebar-width: 300px;
.resource-index-page-sidebar {
  position: fixed;
  width: $sidebar-width;
  top: 50px;
  left: 0px;
  padding-top: 20px;
}

.resource-index-page-main-container {
  margin-left: $sidebar-width;
}

.resource-index-page-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resource-index-page-sort-query-container {
  display: flex;
  flex-direction: row;
}

.resource-index-page-searchbar {
  flex-grow: 1;
  margin-right: 40px;
}

// Resource modal
.resource-modal-dialog {
  width: 840px;
}

.resource-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.resource-modal-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.resource-modal-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.resource-modal-text {
}

.resource-modal-text-body {
  position: relative;
  height: 160px;
  overflow-y: hidden;

  // Fade bottom edge
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #ebf1f5
    );
    width: 100%;
    height: 40px;
  }
}

.resource-modal-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  height: 100%;
}
