// Layout

$navbar-height: 50px;

// Typography

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700");

$font-stack: "Source Sans Pro", "Lato", "Helvetica", sans-serif;

// Colors

$off-black: #4a4a4a;
$dark-gray: #828282;
$dark-blue: #3b7ea1;
$gold: rgba(196, 130, 14, 0.35);

$rose-garden: #eb2562;
$lap-lane: #19a498;
$california-gold: #fbb431;
$golden-gate: #ea633b;
$berkeley-blue: #043361;
