/* Buttons */


.btn {
    display: inline-block;
    line-height: 1.2;
    padding: 8px 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 0.875em;
    font-family: Lato ,sans-serif;
    font-weight: 400;
    border-width: 2px !important;
    border-style: solid !important;
    text-decoration: none !important;
    border-radius: 2px;
    background-color: var(--rose-garden);
    color: #fff;
    border-color: var(--rose-garden);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  }