
/* 
// Colors */

:root {

    --off-black: #4a4a4a;
    --dark-gray: #828282;
    --dark-blue: #3b7ea1;
    --light-blue: #F3FBFF;
    --gold: rgba(196, 130, 14, 0.35);
  
    --rose-garden: #eb2562;
    --rose-garden-light: #ff457f;
    --rose-garden-dark: #dc235c;
  
    --lap-lane: #19a498;
    --california-gold: #fbb431;
    --golden-gate: #ea633b;
    --berkeley-blue: #043361;
  }
  
  /* // Typography */
  
  h1 {
    font-family: 'Lato', sans-serif;
    color: var(--berkeley-blue);
    font-size: 48px;
    font-weight: 600;
  }
  
  h2 {
  font-family: 'Lato', sans-serif;
  color: var(--berkeley-blue);
  font-size: 36px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 24px;
  }
  
  h3 {
  font-family: 'Lato', sans-serif;
  color: var(--off-black);
  font-size: 28px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 18px;
  }
  
  h4 {
  font-family: 'Lato', sans-serif;
  color: var(--off-black);
  font-size: 20px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 12px;
  }
  
  p {
  font-family: 'Lato', sans-serif;
  color: var(--off-black);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  }
  
  
  
  
  /* Buttons */
  
  
  .btn {
    display: inline-block;
    line-height: 1.2;
    padding: 8px 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 0.875em;
    font-family: Lato ,sans-serif;
    font-weight: 400;
    border-width: 2px !important;
    border-style: solid !important;
    text-decoration: none !important;
    border-radius: 2px;
    background-color: var(--rose-garden);
    color: #fff;
    border-color: var(--rose-garden);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  }
  
  
  /* General Layout */
  
  .get-involved-container {
    width: 100%;
    display: flex;
  }
  
.get-involved-banner {
        background-color: gray;
        height: 250px;

}

.get-involved-left-container {
    background-color: var(--light-blue);
    min-width: 225px;
}

.get-involved-right-container {
    width: 100%;

}

.get-involved-text {
    padding: 10px 20px 10px 30px;
}

.get-involved-centered {
    font-family: 'Lato', sans-serif; 
    color: var(--lap-lane);
    text-align: center;
    margin: 0 auto;

}

.get-involved-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
}

.get-involved-menu a {
    padding: 10px 8px 6px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .get-involved-menu a:hover {
    color: #f1f1f1;
  }

  .get-involved-item {
    font-family: 'Lato', sans-serif; 
  }
  