@import "./variables";

// Typography
h1 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 36px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 24px;
}

h3 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 28px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 18px;
}

h4 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 20px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 12px;
}

p {
  font-family: $font-stack;
  color: $dark-gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

// Overrides

.bp3-button.bp3-intent-primary {
  background-color: $rose-garden;

  &:hover {
    background-color: $rose-garden-light;
  }
  &:active {
    background-color: $rose-garden-dark;
  }
}

.bp3-tab[aria-selected="true"] {
  color: $rose-garden;
  box-shadow: inset 0 -3px 0 $rose-garden;
}

.bp3-tab[aria-selected="true"],
.bp3-tab:not([aria-disabled="true"]):hover {
  color: $rose-garden;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: $rose-garden;
}

.bp3-label {
  font-weight: 600;
}

.bp3-tab-list > *:not(:last-child) {
  margin-right: 32px;
}

// Layouts

.page-container {
  padding: 50px;
}
