@import "./variables";

// Typography
h1 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-family: $font-stack;
  color: $dark-blue;
  font-size: 36px;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 24px;
}

h3 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 28px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 18px;
}

h4 {
  font-family: $font-stack;
  color: $off-black;
  font-size: 24px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 12px;
}

p {
  font-family: $font-stack;
  color: $dark-gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

// Overrides

.bp3-label {
  font-weight: 600;
}

// Layouts

.page-container {
  padding: 50px;
}
