@import "./variables";

.navbar-image {
  display: block;
  height: 45px;
}

$navbar-height: 60px;
.bns-navbar.bp3-navbar {
  height: $navbar-height;
  background-color: $berkeley-blue;
}

.bns-navbar.bp3-navbar > .bp3-navbar-group {
  height: $navbar-height;
}

.bns-navbar-item {
  margin: 0px 10px;
}

.bp3-navbar.bp3-dark a {
  color: white;
}
