/* 
// Colors */

:root {
  --off-black: #4a4a4a;
  --dark-gray: #828282;
  --dark-blue: #3b7ea1;
  --light-blue: #f3fbff;
  --gold: rgba(196, 130, 14, 0.35);

  --rose-garden: #eb2562;
  --rose-garden-light: #ff457f;
  --rose-garden-dark: #dc235c;

  --lap-lane: #19a498;
  --california-gold: #fbb431;
  --golden-gate: #ea633b;
  --berkeley-blue: #043361;
}

/* // Typography */
.home-page {
  h1 {
    font-family: "Lato", sans-serif;
    color: var(--berkeley-blue);
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 36px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  h3 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 18px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  p,
  br,
  ul,
  li {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
  }

  .white-text {
    margin-top: 0;
    color: white;
  }
}

/* // Overrides: Keep as few as possible */

.bp3-tab[aria-selected="true"] {
  color: var(--rose-garden);
  box-shadow: inset 0 -3px 0 var(--rose-garden);
}

.bp3-tab[aria-selected="true"],
.bp3-tab:not([aria-disabled="true"]):hover {
  color: var(--rose-garden);
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: var(--rose-garden);
}

.bp3-label {
  font-weight: 600;
}

.bp3-tab-list > *:not(:last-child) {
  margin-right: 32px;
}

/* Buttons */

.btn {
  display: inline-block;
  line-height: 1.2;
  padding: 8px 20px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 0.875em;
  font-family: Lato, sans-serif;
  font-weight: 400;
  border-width: 2px !important;
  border-style: solid !important;
  text-decoration: none !important;
  border-radius: 2px;
  background-color: var(--rose-garden);
  color: #fff;
  border-color: var(--rose-garden);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* General Layout */

.container {
  width: 100%;
}

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 50px 100px; // TODO: This should be changed - not mobile-friendly
}

@media (max-width: 950px) {
  .block {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Block Colors */
.home-page-banner-overlay {
  background: url("~images/Home_1_Intro.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-page-landing {
  background-color: rgba($berkeley-blue, 0.7);
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-page-landing .subheading {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 16pt;
}

.home-page-resource-index {
  background-color: var(--light-blue);
}

.home-page-center {
  background-color: var(--berkeley-blue);
}

.home-page-testimonies {
  background-color: var(--light-blue);
}

.home-page-donate {
  background-color: white;
}

/* Landing */

.home-page-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  flex: 3 1 400px;
}

.home-page-landing-text {
  text-align: left;
}

@media (min-width: 640px) {
  .home-page-landing-text {
    padding-right: 20%;
  }
}

@media (max-width: 640px) {
  .home-page-landing .home-page-left-img {
    display: none;
    // max-width: 200px;
    // margin-bottom: 50px;
  }
}

.home-page-landing .home-page-left-img {
  flex: 1 1 200px;
}

.home-page-logo {
  width: 100%;
}

/* Resource Index */

.home-page-resource-text {
  max-width: 75%;
  min-width: 55%;
}

/* Resource Index Cards */
.card-img {
  background: cornsilk;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.home-page-resource-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

/* Card Itself */
.home-page-resource-card {
  background: white;
  margin: 10px;
  min-height: 200px;
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 4px;
  border-top: 8px solid var(--california-gold);
}

/* Text-Container - Card */
.card-container {
  padding: 12px 24px;
}

/* Font Styling of Text - Card */
.card-text {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

/* BNS Center */
// .home-page-center {
// }

.home-page-center-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.home-page-center-container .home-page-left-img {
  flex: 1 1 400px;
}

@media (min-width: 950px) {
  .home-page-center-container .home-page-left-img {
    max-width: 45%;
    padding-left: 5%;
  }
}

.home-page-center .home-page-left-img img {
  width: 100%;
}

.home-page-center-text {
  flex: 1 1 400px;
  margin-bottom: 20px;
}

.btn-primary {
  margin-right: 2%;
}

.white-text,
.white-text li {
  color: white;
}

/* Our Mission */

.home-page-background {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page-background h1 {
  max-width: 600px;
}

.home-page-background-container {
  display: flex;
  flex-wrap: wrap;
}

.home-page-background-text {
  flex: 1 1 400px;
  margin-bottom: 20px;
}

.home-page-background-video {
  flex: 1 1 50%;
  min-height: 300px;
}

@media (min-width: 690px) {
  .home-page-background-video {
    padding-left: 5%;
  }
}

.home-page-background-video iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Student Testimonies */

.testimonial_img {
  flex: 1 1 200px;
  display: flex;
  align-items: center;

  @media (min-width: 750px) {
    max-width: 300px;
  }

  img {
    width: 100%;
  }
}

.home-page-testimonies-text {
  max-width: 75%;
  min-width: 55%;
}

.home-page-testimony-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.home-page-testimony-card {
  background: white;
  margin: 15px;
  // width: 280px;
  // height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 4px;
  border-left: 8px solid var(--california-gold);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 700px;

  @media (max-width: 750px) {
    border-top: 8px solid var(--california-gold);
    border-left: none;
  }
}

.card-test-container {
  // width: 250px;
  margin: 0 auto;
  text-align: left;
  flex: 2 2 500px;
}

p.card-test-text {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  // overflow: scroll;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 14px;
  // font-weight: 200;
}
/* Donate */

.home-values {
  width: 400px;
}

.home-page-student {
  display: block;
  width: 100%;
  margin: auto;
  transform: translateY(-5%);
}
