<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Basic Needs Security</title>
  <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/about_page.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
  <!-- Container -->
  <div class="container is-widescreen page-container">

    <!-- Landing Page -->
    <div class="about-page-image " style="width: 100%; background: gray; height: 250px;">
      <p>Insert fabulous landing image here :–)</p>
    </div>

    <!-- BNS Center  -->
    <div class="about-page-center ">
      <div class="about-page-center-text">
        <h1>Our Center</h1>
      </div>

      <div class="about-page-center-text">

        <p>

          <b>Location: 12345 MLK Way, Berkeley, CA
          </b> </p>
        <p>

          <p>

            <b>
              Open Hours: Monday - Friday, 9 AM - 9 PM</b> </p>
          <p>

            The Basic Needs Center serves as a physical resource hub for basic needs resources. The Basic Needs
            Committee supports food, housing, and economic justice of those in our campus community.

            Feel free to walk in or book an appointment with the Basic Needs Case Manager, the Basic Needs Financial
            Aid Assitance, or with County Workers.

          </p>
          <button type="button" class="btn btn-primary">Book Appointment</button>
      </div>

      <div class="about-page-left-img">
        HUGE BNS LOGO HERE
        <img src="BNS-logo">
      </div>

    </div>

    <!-- BNS Background  -->
    <div class="about-page-background ">

      <div class="about-page-background-text">
        <h1>Background</h1>
      </div>

      <div class="about-page-background-text">
        <p>
          Basic Needs Security refers to the food, housing, and wellness security of our community. We understand that
          basic needs have a direct impact on the mental-emotional-physical health, wellness, academic performance,
          professional development, and holistic success of our students.

          The quality of life of our students, has a major impact on their sense of belonging, persistence, graduation,
          and overall experience. Therefore, we refuse to accept hunger, malnourishment, and homelessness as part of
          our university.

          UC Berkeley's Basic Needs Security Committee is fully dedicated to leading the transformation of UC Berkeley
          into a basic needs secure institution of higher education.
        </p>
      </div>

      <div class="about-page-left-img">
        HUGE BNS LOGO HERE
        <img src="BNS-logo">
      </div>

    </div>

    <!-- Our Team  -->
    <div class="about-page-team ">

      <h1>Our Basic Needs Village</h1>

      <div class="about-page-team-container">
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>

        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="team-text-container">
                <h4>Area of team</h4>

                <p class="team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>

        <!-- End of Team Container -->
      </div>







    </div>


    <!-- Areas of Focus -->
    <div class="about-page-focus ">

      <div class="about-page-focus-text">
        <h1>Areas of Focus</h1>
      </div>
      <div class="about-page-focus-text">
        <p>UC Berkeley's Basic Needs Security Committee is made up of undergraduate, graduate student, professional
          staff, faculty, administrators, and community experts. </p>

        <p>Our areas of focus are:</p>
      </div>

      <!-- Container for Focus -->
      <div class="about-page-focus-container">
        <!-- row -->
        <div class="about-page-focus-row">

          <!-- column -->
          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="focus-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="focus-text-container">
                <h4>Area of Focus</h4>

                <p class="focus-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="focus-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="focus-text-container">
                <h4>Area of Focus</h4>

                <p class="focus-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

        </div>

        <!-- row -->
        <div class="about-page-focus-row">

          <!-- column -->
          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="focus-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="focus-text-container">
                <h4>Area of Focus</h4>

                <p class="focus-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="focus-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="focus-text-container">
                <h4>Area of Focus</h4>

                <p class="focus-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

        </div>


        <!-- End of Container Div -->
      </div>








    </div>



  </div>
</body>

</html>