<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Basic Needs Security</title>
  <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/about_page.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
  <!-- Container -->
  <div class="about-page-container is-widescreen page-container">

    <!-- Landing Page -->
    <div class="about-page-image " style="width: 100%; background: gray; height: 250px;">
      <p>Insert fabulous landing image here :–)</p>
    </div>

    <!-- BNS Center  -->
    <div class="about-page-center ">
      <div class="about-page-center-text">
        <h1>Our Center</h1>
      </div>

      <div class="about-page-center-text">
        <p>
          The Basic Needs Center serves as a physical resource hub for basic needs resources and services. The Basic
          Needs Center serves as a space for students to create community and access coordinated basic needs services.
          We are committed to cultivate wellness and belonging in the Basic Needs Center space.
        </p>
        <!-- <p>Below are our current services based out of our center:

          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            Case management: Need support navigating your current housing situation? Want to consult about
            food and housing resources? Book an appointment with the Basic Needs Manager or come to our drop-in case
            management hours on Thursday afternoons from 1-5pm.
          </li>
          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            Book Appointment with BN Manager
          </li>
          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            CalFresh: Want support with your CalFresh application? If you would like to have the help of a certified
            CalFresh outreach worker or to walk you through the application process, you can attend a CalFresh
            Application Session.
          </li>
        </p>

        <p>
          <b>Satellite Drop-In Services:</b>
          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">Financial Aid: Need financial aid counseling
            related to your housing or food needs? Drop-in
            to meet with
            our
            Basic Needs Financial Aid Counselor on Tuesdays from 11am-2pm.</li>

          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            Berkeley Rent Stabilization Board: Need support around your rights as a tenant? Drop-in to meet with a rent
            board housing counselor on Wednesdays from 12-4pm.
          </li>
          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            CalFresh Appeal Clinics: Were you CalFresh benefits denied or delayed? Attend a CalFresh denials clinic on
            March 6 and April 10 from 6-8pm.
          </li>
          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            Location: Lower level of MLK Student Union (BNorth), Suite 72
            <br> Mailing Address: 2495 Bancroft Way, Suite 72, Berkeley CA 94720-4500
          </li>

          <li style="font-size: 14px; font-family: 'Lato', sans-serif;">
            Open Hours: Monday - Friday, 9 AM - 5 PM. Our center’s hours will be extended throughout the semester.
          </li>


        </p> -->



        </p>
        <button type="button" class="btn btn-primary">Book Appointment</button>
      </div>

      <div class="about-page-left-img">
        HUGE BNS LOGO HERE
        <img src="BNS-logo">
      </div>

    </div>

    <!-- BNS Background  -->
    <div class="about-page-background ">

      <div class="about-page-background-text">
        <h1>Background</h1>
      </div>

      <div class="about-page-background-text">
        <p>
          Basic Needs Security refers to the food, housing, and economic security of our community. We understand that
          basic needs have a direct impact on the mental-emotional-physical health, wellness, academic performance,
          professional development, and holistic success of students.
        </p>
        <p>
          The quality of life of our students has a major impact on their sense of belonging, persistence, graduation,
          and overall experience. Therefore, we refuse to accept hunger, malnourishment, and homelessness as part of
          our university.
        </p>

        <p>Basic Needs is committed to accomplishing food, housing and economic justice on the UC Berkeley campus
          through a robust model of prevention, intervention and emergency relief efforts. Our goal is to ensure that
          UC Berkeley is a Basic Needs Secure campus. Our prevention efforts thus far have included pre-college
          education, first year student outreach and messaging around Basic Needs, as well as Basic Needs skill
          development such as NST 20 lecture, and nutrition and cooking demonstration. Emergency interventions include
          the UC Berkeley Food Pantry which provides emergency food relief. Crisis interventions include the Food
          Assistance Program which provides eligible students with financial support for food, as well as the Emergency
          Housing Support program.</p>


      </div>

      <div class="about-page-left-img">
        HUGE BNS LOGO HERE
        <img src="BNS-logo">
      </div>

    </div>

    <!-- Our Team  -->
    <div class="about-page-team ">

      <h1>Our Basic Needs Village</h1>

      <div class="about-page-team-container">
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="team-7.jpg" alt="Img" style="width:100%">

              <div class="about-page-team-text-container">
                <h4> Kiyoko Thomas</h4>

                <p class="about-page-team-description">Basic Needs Manager (Case Management & Operations)
                </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-team-text-container">
                <h4>Ruben Canedo</h4>

                <p class="about-page-team-description">Basic Needs Committee Chair </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-team-text-container">
                <h4>Meg Prier
                </h4>

                <p class="about-page-team-description">Basic Needs Manager (Food)</p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-team-text-container">
                <h4> Karina Candela
                </h4>

                <p class="about-page-team-description">Photography & Videography Coordinator

                </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>
        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-team-text-container">
                <h4>Maria Balcazar Tellez</h4>

                <p class="about-page-team-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-team-text-container">
                <h4> Sara Tsai
                </h4>

                <p class="about-page-team-description">Community Partnerships and Outreach Coordinator

                </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>

        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-team-text-container">
                <h4>Sally Liang</h4>

                <p class="about-page-team-description">Finance Coordinator
                </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-team-text-container">
                <h4>Vikrem Padda</h4>

                <p class="about-page-team-description"> CalFresh Coordinator
                </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>

        <!-- row -->
        <div class="about-page-team-row">

          <!-- column -->
          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-team-text-container">
                <h4>Stella Zhu</h4>

                <p class="about-page-team-description">Food Pantry Coordinator
                </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-team-column">

            <div class="about-page-team-card">
              <img class="about-page-team-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-team-text-container">
                <h4>Ibrahim Ramoul
                </h4>

                <p class="about-page-team-description">Basic Needs Farms and Gardens Coordinator </p>
              </div>
            </div>
          </div>
          <!-- End of Row -->
        </div>

        <!-- End of Team Container -->
      </div>







    </div>


    <!-- Areas of Focus -->
    <div class="about-page-focus ">

      <div class="about-page-focus-text">
        <h1>Areas of Focus</h1>
      </div>
      <div class="about-page-focus-text">
        <p>UC Berkeley's Basic Needs Security Committee is made up of undergraduate, graduate student, professional
          staff, faculty, administrators, and community experts. </p>

        <p>Our areas of focus are:</p>
      </div>

      <!-- Container for Focus -->
      <div class="about-page-focus-container">
        <!-- row -->
        <div class="about-page-focus-row">

          <!-- column -->
          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="about-page-focus-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-focus-text-container">
                <h4>Food Support
                </h4>

                <p class="about-page-focus-description">Food support refers to the provision of food or financial
                  support to
                  purchase food in emergency situations or to provide longer-term solutions in areas where food
                  resources are limited. A goal of food support is to create food security – a situation in which
                  people need not be vulnerable to hunger and starvation.

                  <br>
                  Food insecurity refers to the limited or uncertain availability of safe and nutritionally adequate
                  foods; or limited or uncertain ability to obtain such food in a socially acceptable manner. In its
                  most extreme form, known as hunger, individuals can experience physiological conditions such as
                  uneasiness and pain.
                </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="about-page-focus-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-focus-text-container">
                <h4>Housing Support</h4>

                <p class="about-page-focus-description">Housing support refers to assistance to enable individuals
                  secure and
                  maintain suitable housing or shelter.
                  <br>
                  Homelessness means that a student does not have a stable, reliable, or permanent place to live, often
                  residing in a shelter, automobile, motel, a public facility, or an abandoned building or outside.
                  Housing insecurity refers to a broader set of challenges that could include the inability to pay rent
                  or utilities, need to move frequently, or residing in a place where personal safety or health is
                  compromised.
                </p>
              </div>
            </div>
          </div>

        </div>

        <!-- row -->
        <div class="about-page-focus-row">

          <!-- column -->
          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="about-page-focus-img" src="img2.jpg" alt="Img" style="width:100%">

              <div class="about-page-focus-text-container">
                <h4>Economic Support</h4>

                <p class="about-page-focus-description">Economic support refers financial security of having stable and
                  predictable income or other resources to support a standard of living now and in the foreseeable
                  future.
                  <br>
                  Financial insecurity refers to the inability for students to access financial resources to be a
                  successful student, or find the resources to gain financial literacy, such as educational materials
                  to understand what resources are available and where to receive additional support.
                </p>
              </div>
            </div>
          </div>

          <!-- column -->

          <div class="about-page-focus-column">

            <div class="about-page-focus-card">
              <img class="about-page-focus-img" src="img2.jpg" alt="Img" style="width:100%">
              <div class="about-page-focus-text-container">
                <h4>Area of Focus</h4>

                <p class="about-page-focus-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>

        </div>


        <!-- End of Container Div -->
      </div>








    </div>



  </div>
</body>

</html>