<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Needs Security: Meet the Team!</title>
</head>

<body>
    <!-- Cover Image -->
    <div className="team-cover-image">
        <div className="team-cover-image-text">
            <h1>Meet the team!</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. The team behind the Basic Needs Website.
        </div>
    </div>


    <!-- Main Team -->
    <div className="team-stories">
        <div className="team-stories-text">
            <h1>Team </h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
     </div>


    <!-- Student Testimonies -->
    <div className="team-page-team">
            <h1>Undergraduate Students</h1>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dsint occaecat cupidatat non proident
            </p>
  
  
            <div className="team-page-resource-cards">
                  <div className="photocard">
                    <div className="photocard-img">
                      Img
                    </div>
                    <div className="photocard-category">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                    </div>
                  </div>
      
                  <div className="photocard">
                      <div className="photocard-img">
                        Img
                      </div>
                      <div className="photocard-text">
                        <div className="photocard-text-testimony">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                        </div>
                        
                      </div>
                    </div>
  
                    <div className="photocard">
                          <div className="photocard-img">
                            Img
                          </div>
                          <div className="photocard-text">
                            <div className="photocard-text-testimony">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                            </div>
                            
                          </div>
                      </div>
                </div>         
    </div>

    <!-- Student Testimonies -->
    <div className="team-page-team">
            <h1>Graduate & Professional Students</h1>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dsint occaecat cupidatat non proident
            </p>
  
  
            <div className="team-page-resource-cards">
                  <div className="photocard">
                    <div className="photocard-img">
                      Img
                    </div>
                    <div className="photocard-category">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                    </div>
                  </div>
      
                  <div className="photocard">
                      <div className="photocard-img">
                        Img
                      </div>
                      <div className="photocard-text">
                        <div className="photocard-text-testimony">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                        </div>
                        
                      </div>
                    </div>
  
                    <div className="photocard">
                          <div className="photocard-img">
                            Img
                          </div>
                          <div className="photocard-text">
                            <div className="photocard-text-testimony">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                            </div>
                            
                          </div>
                      </div>
                </div>         
    </div>

    <!-- Student Testimonies -->
    <div className="team-page-team">
            <h1>Service Workers & Staff</h1>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dsint occaecat cupidatat non proident
            </p>
  
  
            <div className="team-page-resource-cards">
                  <div className="photocard">
                    <div className="photocard-img">
                      Img
                    </div>
                    <div className="photocard-category">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                    </div>
                  </div>
      
                  <div className="photocard">
                      <div className="photocard-img">
                        Img
                      </div>
                      <div className="photocard-text">
                        <div className="photocard-text-testimony">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                        </div>
                        
                      </div>
                    </div>
  
                    <div className="photocard">
                          <div className="photocard-img">
                            Img
                          </div>
                          <div className="photocard-text">
                            <div className="photocard-text-testimony">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020
                            </div>
                            
                          </div>
                      </div>
                </div>         
    </div>






</body>

</html>