<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basic Needs Security: Donate</title>
    <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/Donate.css">


</head>

<body>
    <!-- Container -->
    <div class="container is-wclassescreen page-container">


        <!-- Donate to Basic Needs -->

        <div class="donate-page-donate block">

            <h2>Help BNS combat hunger, <br>malnourishment, and homelessness.</br></h2>


            <div class="donate-page-right">
                <div class="donate-page-donate-text" style="border-bottom: 1px #C4C4C4 solid;
                    margin-bottom: 30px;">
                    <p>
                        Your contribution will go to help transform UC Berkeley into a basic needs secure institution.


                    </p>
                    <button type="button" class="btn btn-primary" style="margin-top: 8px; margin-bottom: 45px;">Donate
                        Online</button>
                </div>

                <div class="donate-page-donate-label">
                    Donate By Mail
                </div>

                <div class="donate-page-donate-info">

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Check to:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">UC Berkeley Foundation</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Memo:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">Basic Needs</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Address:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">
                                University of California, Berkeley, Gift Services
                                <br>1995 University Ave,
                                Ste 40, Berkeley, CA 94704-1070 </br></div>
                        </div>

                    </div>



                </div>
            </div>

            <div class="donate-page-left">
                BNS Donate Image
                <img src="BNS-logo">
            </div>

        </div>






    </div>
</body>

</html>