<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic Needs Security: Donate</title>
<link rel="/assets/stylesheets" type="text/css" href="layout.css">
<link rel="/assets/stylesheets" type="text/css" href="about_page.css">

</head>

<body>
    <!-- Container -->
    <div className="container is-widescreen page-container">
        

        <!-- Donate to Basic Needs -->
        
        <div className="home-page-donate">
            <div className="left">
                <div className="home-page-background-text">
                        <h1>Donate to Basic Needs Security</h1>
                        <p>
                            Your contribution will go to help transform UC Berkeley into a basic needs secure institution.
                        
    
                        </p>
                        <button type="button" class="btn btn-primary">Donate Online</button>
                    </div>
    
                    <div id="home-page-donate-info">
                    Donate By Mail
    
                        <div id="row">
                            <div id="info">Check to:</div>
                            <div id="info-content">UC Berkeley Foundation</div>
                        </div>
    
                        <div id="row">
                            <div id="info">Memo:</div>
                            <div id="info-content">Basic Needs</div>
                        </div>
    
                        <div id="row">
                            <div id="info">Address:</div>
                            <div id="info-content">University of                California, 
                                    Berkeley, Gift Services
                                    1995 University Ave, Ste 400
                                    Berkeley, CA 94704-1070
                            </div>
                        </div>
                    </div>
            </div>

            <div className="right">
                BNS Image
            </div>

    
        </div>

          



      </div>
</body>

</html>