<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basic Needs Security: FAQ</title>
    <link rel="/assets/stylesheets" type="text/css" href="layout.css">
    <link rel="/assets/stylesheets" type="text/css" href="about_page.css">

</head>

<body>
    <!-- Container -->
    <div class="container is-widescreen page-container">
        <!-- FAQ Description Block -->
        <div class="faq-page-opening block"></div>

        <!-- FAQ Container -->

        <div class="faq-container block">
            <div class="faq">
                <div class="faq-show">
                    <div class="faq-question-title">
                        What is a FAQ?
                    </div>
                    <div class="faq-question-arrow">
                        Arrow
                    </div>
                </div>

                <div class="faq-question-answer hidden">
                    A FAQ is a question that is commonly asked!
                </div>


            </div>



        </div>








    </div>
</body>

</html>