<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basic Needs Security</title>
    <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/HomePage.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    <!-- Container -->
    <div class="container is-widescreen page-container">

        <!-- Landing Page -->
        <div class="home-page-landing block">
            <h1 class="white-text">Basic Needs Center</h1>
            <div class="home-page-row">
                <div class="home-page-landing-text">
                    <p class="white-text">
                        Founded in Spring 2019, the Basic Needs Center serves as a physical resource hub for basic
                        needs resources. The Basic Needs Committee supports the food, housing, and economic justice of
                        those in our campus community.
                    </p>

                    <div class="btn-row">
                        <button type="button" class="btn btn-primary">Our Resource Index</button>
                        <button type="button" class="btn btn-primary">Frequently Asked Questions</button>

                    </div>


                </div>


                <div class="home-page-left-img">
                    HUGE BNS LOGO HERE
                    <img src="BNS-logo">
                </div>
            </div>
        </div>

        <!-- Background Block -->
        <div class="home-page-background block">
            <h1>Our Vision, Our Mission, Our Values</h1>
            <div class="home-page-background-text">
                <p>
                    We are excited for the ongoing learning, building, and improvement of our collective efforts.
                    Please note that this site will continue to shift and improve as we earn better knowledge,
                    strategies, and materials along our collective energy. We are excited for community input on our
                    current vision, mission and values which will evolve over time.

                </p>

                <p><b>Vision:</b> Ongoing economic, food and housing justice for all UC Berkeley community members no
                    matter who they are or where they come from.
                </p>
                <p><b>Mission:</b> We provide accessible and equitable programming and resources today; we research,
                    innovate, advocate and engage in coalition building to lead systemic change tomorrow.
                </p>
                <p><b>Values:</b> Compassion, dignity, diversity, generative, healing, Interdependency,
                    multigenerational, resilience.</p>
                <button type="button" class="btn btn-primary">Meet the BNS Village</button>
            </div>

            <div class="home-page-left-img">
                HUGE BNS LOGO HERE
                <img src="BNS-logo">
            </div>

        </div>

        <!-- Resource Index Block -->
        <div class="home-page-resource-index block">
            <div class="home-page-resource-text">
                <h1>Our Resource Index</h1>
                <p>
                    We know that navigating the UC Berkeley community can be overwhelming. That’s why we’ve
                    consolidated all resources into a single place, so you can focus on your well-being first.
                </p>
                <p>Our areas of focus are:</p>
            </div>




            <div class="home-page-resource-cards">

                <div class="home-page-resource-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>

                    <div class="card-container">
                        <p class="card-text">Undergraduate Student</p>
                    </div>
                </div>

                <div class="home-page-resource-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>
                    <div class="card-container">
                        <p class="card-text">Graduate / Professional Student</p>
                    </div>
                </div>

                <div class="home-page-resource-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>
                    <div class="card-container">
                        <p class="card-text">Service Worker / Staff</p>
                    </div>
                </div>



            </div>

            <button type="button" class="btn btn-primary" style="margin: 0 auto; margin-top: 50px;">Search all
                resources</button>

        </div>

        <!-- BNS Center Block -->
        <div class="home-page-center block">
            <div class="home-page-center-text">
                <h1 class="white-text">Our Center</h1>
            </div>

            <div class="home-page-center-text">

                <p class="white-text">
                    Location: Lower level of MLK Student Union (BNorth), Suite 72
                    <br> Mailing Address: 2495 Bancroft Way, Suite 72, Berkeley CA 94720-4500</br>
                    <br> Open Hours: Monday - Friday, 9 AM - 5 PM. Our center’s hours will be extended throughout the
                    semester.</br>
                </p>
                <p class="white-text">
                    The Basic Needs Center serves as a physical resource hub for basic needs resources and services.
                    The Basic Needs Center serves as a space for students to create community and access coordinated
                    basic needs services.
                </p>

                <button type="button" class="btn btn-primary">Learn More About Our Services</button>
            </div>

            <div class="home-page-left-img">
                HUGE BNS LOGO HERE
                <img src="BNS-logo">
            </div>

        </div>

        <!-- Student Testimonies -->
        <div class="home-page-testimonies block">

            <div class="home-page-testimonies-text">
                <h1>Student Testimonies</h1>
            </div>

            <div class="home-page-testimony-cards">

                <div class="home-page-testimony-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>

                    <div class="card-test-container">
                        <p class="card-test-text">CalFresh improved the quality of my college life tremendously. <b>Once
                                I
                                received my EBT card, I stopped having to worry about how I’d afford my next meal, and
                                could instead focus on how I would ace my next midterm.</b> No university student
                            should have
                            to prioritize food or shelter above their education, and CalFresh is making this a reality
                            for many students. CalFresh has mitigated my stress tenfold and I am eternally grateful.

                            <br> <i>Undergraduate Student</i>
                            <br>
                            Devin, Class of 2018

                        </p>

                    </div>
                </div>

                <div class="home-page-testimony-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>
                    <div class="card-test-container">
                        <p class="card-test-text"><b>I was struggling to make ends meet during the last month of spring
                                semester and suffered from food insecurity everyday. I had no idea when my next meal
                                was going to be and I was too afraid to ask for help.</b>

                            After some guidance from my EOP counselor, I was connected to the Financial Aid
                            Scholarships and Food Assistance Program. Within one day of emailing them, I was supplied
                            with additional funds to my student account.
                            Without this program, I would have continued to suffer in silence. This program is crucial
                            to students coming from low-income homes and I'm grateful for the assistance I was provided
                            in my time of need.

                            <br> <i>Anonymous</i>
                            <br>
                            Class of 2019
                        </p>
                    </div>
                </div>

                <div class="home-page-testimony-card">
                    <div class="card-img" style="height: 200px; width:100%">
                        <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
                    </div>
                    <div class="card-test-container">
                        <p class="card-test-text">How many times have you heard the phrase, "I can't afford to eat
                            healthily?" In addition to interacting with my peers, crafting scrumptious recipes, and
                            having a good time, I was also able to walk away with a new outlook on cooking and
                            nutrition.

                            <b>I no longer associate nutritionally adequate foods with being expensive, monotonous and
                                inaccessible. This class has taught me how to utilize ingredients more effectively and
                                creatively--often resulting in unique and tasty flavor profiles. </b>
                            <br> Kevin Soun, Fall 2017

                        </p>
                    </div>
                </div>



            </div>

            <button type="button" class="btn btn-primary" style="margin: 0 auto; margin-top: 50px;">Read our stories</button>



        </div>

        <!-- Donate to Basic Needs -->

        <div class="home-page-donate block">
            <h1>Donate to Basic Needs Security</h1>
            <div class="home-page-right">
                <div class="home-page-donate-text" style="border-bottom: 1px #C4C4C4 solid;
                margin-bottom: 30px;">
                    <p>
                        Your contribution will go to help transform UC Berkeley into a basic needs secure institution.


                    </p>
                    <button type="button" class="btn btn-primary" style="margin-top: 8px; margin-bottom: 45px;">Donate
                        Online</button>
                </div>

                <div class="home-page-donate-label">
                    Donate By Mail
                </div>

                <div class="home-page-donate-info">

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Check to:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">UC Berkeley Foundation</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Memo:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">Basic Needs</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="donate-by-mail left">
                            <div class="info">Address:</div>

                        </div>
                        <div class="donate-by-mail right">
                            <div class="info">
                                University of California, Berkeley, Gift Services
                                <br>1995 University Ave,
                                Ste 40, Berkeley, CA 94704-1070 </br></div>
                        </div>


                    </div>



                </div>
            </div>

            <div class="home-page-left">
                BNS Donate Image
                <img src="BNS-logo">
            </div>

        </div>





    </div>
</body>

</html>