<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Basic Needs Security</title>
    <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/learn.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body>
    <!-- Container -->
    <div class="container is-widescreen page-container">
        <div class="learn-page-container">


            <div class="learn-page-left-container">
                <div class="learn-page-menu">

                    <a class="learn-page-item" href="#learn-page-research"> Research</a>
                    <a class="learn-page-item" href="#learn-page-multimedia"> Multimedia</a>
                    <a class="learn-page-item" href="#learn-page-news"> News</a>


                </div>
            </div>

            <div class="learn-page-right-container">

                <div class="learn-page-banner learn-page-block">

                    <h2 class="learn-page-white-text">Basic Needs Security — <br>
                        Learning Materials</h2>
                    <p class="learn-page-white-text learn-page-banner-text">UC Berkeley Basic Needs efforts have been
                        featured in the three
                        largest
                        studies in the
                        country on college student basic needs. Additionally, UC Berkeley was selected by the
                        Federal Government Accountability Office to be included in their first national study on
                        college student food insecurity.

                    </p>

                </div>
                <div class="learn-page-text">
                    <div id="learn-page-research">
                        <h2>Research</h2>
                        <p>UC Berkeley Basic Needs efforts have been featured in the three largest studies in the
                            country on college student basic needs. Additionally, UC Berkeley was selected by the
                            Federal Government Accountability Office to be included in their first national study on
                            college student food insecurity. `

                        </p>

                        <h4>Campus Research</h4>
                        <br>

                        <table class="learn-page-text">
                            <tr>
                                <th>Name</th>
                                <th>Date</th>

                            </tr>
                            <tr>
                                <td>UC Berkeley Chancellor’s Housing Survey
                                </td>
                                <td>Feb 22</td>

                            </tr>
                            <tr>
                                <td>UC Berkeley Total Cost of Attendance Report
                                </td>
                                <td>Feb 22</td>

                            </tr>
                            <tr>
                                <td>UC Berkeley Housing Survey 2017 Preliminary Findings
                                </td>
                                <td>Feb 22</td>

                            </tr>
                            <tr>
                                <td>UC Info Center (Undergraduate alumni at work)
                                </td>
                                <td>Feb 22</td>

                            </tr>
                        </table>
                        <br>

                    </div>

                    <div id="learn-page-multimedia">
                        <h2>Multimedia</h2>
                        <p>Read and hear more about basic needs in the news!


                        </p>

                    </div>

                    <div id="learn-page-news">
                        <h2>Basic Needs in the News</h2>
                        <p>Read and hear more about basic needs in the news!


                        </p>

                    </div>


                </div>

            </div>

        </div>


    </div>
</body>

</html>