<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Basic Needs Security: Testimonies</title>
  <link rel="stylesheet" type="text/css" href="/Users/tonyanguyen/indexingbasicneeds/app/javascript/app/assets/stylesheets/Testimonies.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <div class="container is-widescreen page-container">
    <!-- Cover Image -->

    <div class="testimonies-cover-image block">
      <div class="testimonies-cover-image-text">
        <h1 class="white-text">Community Testimonials</h1>
        <p class="white-text half-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>

      </div>
    </div>


    <!-- Community Stories -->
    <div class="testimonies-stories block">
      <div class="testimonies-stories-text">
        <h1>Our Community Stories</h1>
        <p class="half-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
      </div>
    </div>


    <!-- Testimonies 1 -->


    <div class="home-page-testimonies block">

      <div class="home-page-testimonies-text">
        <h1>Undergraduate Students</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dsint occaecat cupidatat non proident
        </p>
      </div>

      <div class="home-page-testimony-cards">

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>

          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>



      </div>





    </div>

    <!-- Testimonies 2 -->

    <div class="home-page-testimonies block">

      <div class="home-page-testimonies-text">
        <h1>Graduate & Professional Students</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dsint occaecat cupidatat non proident
        </p>
      </div>

      <div class="home-page-testimony-cards">

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>

          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>



      </div>





    </div>


    <!-- Testimonies 3 -->

    <div class="home-page-testimonies block">

      <div class="home-page-testimonies-text">
        <h1>Service Workers & Staff</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dsint occaecat cupidatat non proident
        </p>
      </div>

      <div class="home-page-testimony-cards">

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>

          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>

        <div class="home-page-testimony-card">
          <div class="card-img" style="height: 200px; width:100%">
            <img src="rock600x400.jpg" alt="Undergraduate" style="width:100%;">
          </div>
          <div class="card-test-container">
            <p class="card-test-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor inct laborum. - Jemma Kaye, undergrad, 2020</p>
          </div>
        </div>



      </div>





    </div>




  </div>








</body>

</html>